/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.flex-col {
  display: flex;
  flex-direction: column;
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-inter), monospace;
  font-variation-settings: "wght" var(--thin-inter-weight);
  background-image:
    var(--background-gradient-top), var(--background-gradient-mid),
    var(--background-gradient-bottom);
  background-size: cover;
  align-items: center;
  justify-content: start;
  padding-block: var(--page-padding-block);
}

.header {
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: var(--header-block-width);
  background-color: var(--background-color);
  border: var(--card-border);
  padding-block: 130px;
  margin-block-end: 95px;
}

.header h1 {
  font-family: var(--font-press-start);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  user-select: none;
}

.header p {
  font-family: var(--font-press-start);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  user-select: none;
  text-transform: uppercase;
}

main {
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.card {
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  border: var(--card-border);
  width: var(--header-block-width);
}

.card h3 {
  font-size: 18px;
  font-family: var(--font-inter), monospace;
  font-variation-settings: "wght" var(--thick-inter-weight);
  align-self: flex-start;
  margin-inline-start: 10px;
  margin-block: 4px;
}

.card__container {
  position: relative;
  user-select: none;
  pointer-events: none;
  margin-block-end: 25px;
  max-height: 696px;
  width: 100%;
  height: 100%;
}

.card__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__container::after {
  content: "</HTML>";
  position: absolute;
  top: 30px;
  right: 25px;
  width: 98px;
  height: 14px;
  color: #000;
  font-size: 14px;
  font-family: "PressStart2P";
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff,
    -2px 0 0 #fff,
    2px 0 0 #fff,
    0 -2px 0 #fff,
    0 2px 0 #fff;
}

@supports (-webkit-text-stroke: var(--card-pseudo-text-stroke)) {
  .card__container::after {
    text-shadow: none;
    -webkit-text-stroke: var(--card-pseudo-text-stroke);
  }
}

@supports (text-stroke: var(--card-pseudo-text-stroke)) {
  .card__container::after {
    text-shadow: none;
    text-stroke: var(--card-pseudo-text-stroke);
  }
}

.card__text {
  padding-inline: 25px;
  font-size: 18px;
  align-self: flex-start;
  margin-block-end: 25px;
  line-height: 22px;
}

.card__text:last-of-type {
  margin-block-end: 23px;
}

.card__buttons {
  width: 100%;
  padding-inline: 25px;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-block-end: 25px;
}

.card__buttons button {
  border: none;
  background-color: transparent;
  text-transform: capitalize;
  cursor: pointer;
}

.card__buttons button:last-of-type {
  border: var(--card-border);
  padding: 10px;
  font-size: 14px;
  font-family: "PressStart2P";
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px;
  border: var(--card-border);
  gap: 8px;
}

.button span {
  font-family: "PressStart2P";
  font-size: 14px;
}

.save-popup[open] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
  max-width: 350px;
}

.save-popup[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.save-popup:not([open]) {
  display: none;
}

.save-popup__content {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.save-popup h1 {
  width: 100%;
  font-family: "PressStart2P";
  font-size: 14px;
  text-transform: uppercase;
  line-height: 150%;
}

.save-popup__button {
  width: 100%;
  background-color: transparent;
}

.img-blur {
  filter: blur(5px);
}
.img-contrast {
  filter: contrast(200%);
}
.img-grayscale {
  filter: grayscale(50%);
}
.img-hue-rotate {
  filter: hue-rotate(90deg);
}
.img-saturate {
  filter: saturate(30%);
}
.img-sepia {
  filter: sepia(60%);
}
.img-brightness {
  filter: brightness(0.5);
}
.img-multyphilter {
  filter: brightness(1.2) contrast(1.5) saturate(2.5) hue-rotate(320deg);
}

button:has(svg.like-icon) {
  height: 38px;
}

.card__icon-button {
  border: transparent;
  transition: border 0.3s ease;
}
.card__like-button {
  width: 130px;
  position: relative;
  transition: box-shadow 0.3s ease;
}
.save-button {
  cursor: pointer;
  position: relative;
  transition: box-shadow 0.3s ease;
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  z-index: 100;
  color: #fff;
  background-color: #000;
}

.save-button__icon {
  position: relative;
  mix-blend-mode: difference;
  z-index: 100;
  stroke: #fff;
  fill: #000;
}

.save-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #000;
  transition: width 0.5s ease-in-out;
}

.card__like-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #000;
  transition: width 0.5s ease-in-out;
}

.save-button:hover::after {
  width: 100%;
}

.card__like-button:hover::after {
  width: 100%;
}

.card__icon-button:focus-visible {
  border: 2px solid #000;
}

.card__like-button:focus,
.save-button:focus,
.card__icon-button:focus {
  outline: none;
}

.save-button:focus,
.card__like-button:focus {
  box-shadow: 2px 2px 0 #000;
}

@media (width <= 375px) {
  .header {
    padding-block: 122px;
    margin-block-end: 100px;
  }
  .card__container {
    max-height: 371px;
  }
  main .button {
    flex-direction: column;
  }
  .save-popup[open] {
    padding-inline: 40px;
    max-width: 340px;
  }
}
