/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /* Шрифты */
  --main-font: "Inter-Variable";
  --accent-font: "PressStart2P";
  --thick-main-font: 715;
  --thin-main-font: 410;

  /* Задники */
  --background-gradient-top: repeating-linear-gradient(
    to right,
    #d3d3d3 0px,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  );
  --background-gradient-mid: repeating-linear-gradient(
    to bottom,
    #d3d3d3 0px,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  );
  --background-gradient-bottom: linear-gradient(
    to bottom,
    #e7e7e7 0.01%,
    #1a1a1a 100%
  );
  --background-color: #fff;

  /* Стили контента */
  --card-border: 2px solid #000;
  --header-block-width: clamp(375px, 700px, 70svw);
  --page-padding-block: 100px;
  --card-pseudo-text-stroke: 1px #fff;

  /* Анимации */
  --heart-black: #000;
  --heart-red: #ff0000;
  --heart-white: #fff;
}
