/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-inter: "Inter-Variable";
  --font-press-start: "PressStart2P";
  --thick-inter-weight: 715;
  --thin-inter-weight: 410;
  --page-padding-block: 100px;
  --background-gradient-top: repeating-linear-gradient(
    to right,
    #d3d3d3 0px,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  );
  --background-gradient-mid: repeating-linear-gradient(
    to bottom,
    #d3d3d3 0px,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  );
  --background-gradient-bottom: linear-gradient(
    to bottom,
    #e7e7e7 0.01%,
    #1a1a1a 100%
  );
  --background-color: #fff;
  --card-border: 2px solid #000;
  --header-block-width: clamp(375px, 700px, 70svw);

  --heart-black: #000;
  --heart-red: #ff0000;
  --heart-white: #fff;

  --card-pseudo-text-stroke: 1px #fff;
}
